@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@using Project_ShoppingCart_PRN211
@using Project_ShoppingCart_PRN211.Models
@using System.Web.Http;
@model List<Category>;
@using PagedList.Mvc;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Apex Admin
    </title>
    <link rel="shortcut icon" href="/images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript">
            function doDelete(id) {
                if (confirm("Are u sure to delete category with id=" + id + " ?")) {
                    window.location = "/Admin/DeleteCategory?CategoryId=" + id;
                }
            }
        </script>
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="/images/logo-lg.png" alt="Comapny logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="./images/user-image.jpg" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    @ViewBag.Account.AccountName
                </div>
            </div>
            <a asp-controller="Login" asp-action="Logout">
                <button class="btn btn-outline">
                    <i class='bx bx-log-out bx-flip-horizontal'></i>
                </button>
            </a>

        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a asp-controller="Admin" asp-action="Index" class="active">
                    <i class='bx bx-home'></i>
                    <span>dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="ManagerShoes">
                    <i class='bx bx-shopping-bag'></i>
                    <span>Manager Shoes</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="ManagerCategory">
                    <i class='bx bx-chart'></i>
                    <span>Manager Category</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="ManagerOrder">
                    <i class='bx bx-calendar'></i>
                    <span>Manager Order</span>
                </a>
            </li>
            <li class="sidebar-submenu">
                <a asp-controller="Admin" asp-action="ManagerAccount">
                    <i class='bx bx-user-circle'></i>
                    <span>Manager Account</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
    <!-- MAIN CONTENT -->
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-right'></i>
            </div>
            <div class="main-title">
                dashboard
            </div>
        </div>
        <div class="main-content">

            <div class="col-12">
                <!-- ORDERS TABLE -->
                <div class="box">
                    <div class="box-header">
                        Manager Shoes
                    </div>
                    <br/>
                    <div class="box-header">
                        <form asp-controller="Admin" asp-action="ManagerCategory" method="post">
                            <input type="text" name="name" />
                            <button onchange="this.form.submit()" type="submit" class="btn btn-outline-primary">Add new category</button>
                        </form>
                        </div>
                    <div class="box-body overflow-scroll">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CategoryId</td>
                                        <td>@item.CategoryName</td>
                                        <td><a onclick="doDelete('@item.CategoryId')">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END ORDERS TABLE -->
            </div>
            

            <br /> <br /> <br /> <br /> <br /> <br />
            <div class="site-block-27">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>
    </div>
    <!-- SCRIPT -->
    <!-- APEX CHART -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- APP JS -->
    <script src="/js/app.js"></script>

</body>

</html>